html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url("bordes.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    background-size: cover;
}
.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
    .header nav {
        display: flex;
        font-size: 150%;
        width: 60%;
        background-color:rgba(235, 30, 30, 0.432) ;
        justify-content: center;
        text-decoration: none;
    }
        .header nav a:nth-child(3) {
            color: #E4405F;
            padding: 1%;
        }
        .header nav a:nth-child(4) {
            color: #CD201F;
            padding: 1%;
        }
        .header nav a:nth-child(5) {
            color: #1877F2;
            padding: 1%;
        }
        .header nav a:nth-child(1) {
            text-decoration: none;
            color: white;
            padding: 1%;
        }
        .header nav a:nth-child(2) {
            padding: 1%;
            text-decoration: none;
            color: white;
        }
        nav a:hover {
            background-color:rgba(235, 30, 30, 0.726) ;
        }

section {
    display: flex;
    margin: 3% auto;
    justify-content: center;
    flex-direction: column;
}

.parte1 {
    width: 98%;
    display: flex;
    justify-content: space-around;
}
    .img {
        width: 30%;
    }
    .img img {
        width: 100%;
        border-radius: 50%;
        margin-left: 10%;
        box-shadow: 0 0 15px rgb(235, 30, 30)
    }
    .textos {
        width: 50%;
        font-size: 140%;
    }

.parte2 {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
        }
        
        .datos {
            width: 38%;
        }
        .programas {
            width: 50%;
        }
            .textoprogramas p {
                text-decoration: none;
            }
            
    
.parte3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.seccion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}  
    .secciones h2 {
        display: flex;
        justify-content: center;
        }

    .seccion iframe {
        display: flex;
        flex-wrap: wrap;
        width: 28%;
        margin: 2%;
    }
    
    .seccion a {
        width: 25%;
        margin: 3%;
    }
    
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(221, 54, 54, 0.596);
}
    

/*medianos --> + de 580px y - de 989px*/
@media (min-width: 580px) and (max-width: 989px) {
    body {background-color: yellowgreen;}
    .parte1 {
        width: 98%;
        display: flex;
        justify-content: space-around;
    }
        .img {
            width: 40%;
        }
        .img img {
            width: 100%;
            border-radius: 50%;
        }
        .textos {
            width: 47%;
            font-size: 100%;
        }
        
    .parte3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .seccion{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }  
        .secciones h2 {
            display: flex;
            justify-content: center;
            }
    
        .seccion iframe {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .seccion a {
            width: 40%;
            margin: 3%;
        }
     
   }
   

/*pequeños --> hasta 580px */
@media (max-width: 579px) {
    body {background-color: lightcoral;}
    .header {
        display: block;
        width: 100%;
    }
        .header nav {
            display: flex;
            font-size: 85%;
            width: 100%;
            justify-content: center;
        }
            .header nav a:nth-child(3) {
                color: #E4405F;
                padding: 1%;
            }
            .header nav a:nth-child(4) {
                color: #CD201F;
                padding: 1%;
            }
            .header nav a:nth-child(5) {
                color: #1877F2;
                padding: 1%;
            }
            .header nav a:nth-child(1) {
                
                padding: 1%;
            }
            .header nav a:nth-child(2) {
                padding: 1%;
            }
    .parte1 {
        width: 98%;
        display: block;
    }
        .img {
            width: 100%;
        }
        .img img {
            width: 90%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }
        .textos {
            width: 90%;
            font-size: 85%;
        }
    
    .parte2 {
        display: block;
        width: 80%;
        justify-content: center;
        }
            .datos {
                width: 100%;
                font-size: 85%;
            }
            .programas {
                width: 100%;
                font-size: 85%;
            }
        
    .parte3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .seccion{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }  
        .secciones h2 {
            display: flex;
            justify-content: center;
            }
    
        .seccion iframe {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .seccion a {
            width: 90%;
            margin: 3%;
        }
   }
    .footer p {
        font-size: 60%;
    }